In [1]:
import numpy as np
import pandas as pd
from dea.solver import DEA_CCR, DEA_BCC

datas=pd.read_csv("sample datas/mobile.csv", sep=";", index_col=False)
datas

      attr  price ($)  storage (GB)  camera (MP)  screen (mm)
0  mobile1        250            16           12          4.0
1  mobile2        225            16            8          5.0
2  mobile3        300            32           16          4.5
3  mobile4        275            32            8          4.0

In [2]:
res = DEA_CCR(datas, input_cols=(1,2), output_cols=(2,None))

In [3]:
res.show_inputs()

   price ($)
0        250
1        225
2        300
3        275

In [4]:
res.solve()

    score
0  1.0329
1  1.0000
2  1.0000
3  1.0000

In [5]:
res.rank('no')

      attr  price ($)  storage (GB)  camera (MP)  screen (mm)     score
0  mobile1        250            16           12          4.0  0.968148
1  mobile2        225            16            8          5.0  1.000000
2  mobile3        300            32           16          4.5  1.000000
3  mobile4        275            32            8          4.0  1.000000

In [13]:
res.rank('desc')

      attr  price ($)  storage (GB)  camera (MP)  screen (mm)     score
1  mobile2        225            16            8          5.0  1.000000
2  mobile3        300            32           16          4.5  1.000000
3  mobile4        275            32            8          4.0  1.000000
0  mobile1        250            16           12          4.0  0.968148

In [9]:
res.rank('ascii')

"Unknown sort method. Please choose between 'no', 'asc', and 'desc'"